<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Записаться на прием к врачу</title>
    <link rel="stylesheet" href="/css/custom.css" />
  </head>
  <body>
    <%- include('components/header') %>
    <div class="container">
      <h1>Запись к врачу</h1>

      <div class="record">
        <form action="/form" class="record__form" method="post">
          <div class="record__item">
            <span class="record__label">ФИО</span>
            <input
              type="text"
              name="name"
              placeholder="Наше имя и фамилия"
              required
            />
          </div>
          <div class="record__item">
            <span class="record__label">Номер телефона</span>
            <input
              type="text"
              name="phone"
              placeholder="+7 (000) 000 00 00"
              required
            />
          </div>
          <div class="record__item">
            <span class="record__label">Опишите вашу проблему</span>
            <textarea
              name="message"
              placeholder="Расскажите о своей проблеме..."
            ></textarea>
          </div>
          <button class="record__button" type="submit">Отправить</button>
        </form>
      </div>
    </div>
  </body>
</html>
